<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="&quot;C:\Users\Administrator\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\3.2.1\build\../tools/blazor-devserver.dll&quot; serve --applicationpath &quot;Z:\Projects\BlazorApp7\BlazorApp7\bin\x86\Debug\net5.0\HexaSystems.dll&quot;" stdoutLogEnabled="false">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>