@inherits LayoutComponentBase


@*<div class="sidebar">
        <NavMenu />
    </div>*@


<div class="main">
    <div style="background-color:whitesmoke;height:60px">
            <img src="Resources/Logo.png" width="200" height="80" alt="HEXASystems" style="margin-top:-10px;margin-left:-30px">
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

