:focus {
    outline: none;
}

.content {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    border: 0;
    /*padding: 10px 10px;*/
    border-bottom: 1px solid #808080;
}

    .input ~ .border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
    }

    .input:focus ~ .border {
        width: 100%;
        transition: 0.4s;
    }

.container {
    border: 0.5px solid;
    padding-bottom: 40px;
}

.border {
    border: 1px solid #4285F4 !important;
}
